@import "./src/common/styles/sass/variables";

.title{
    margin: 0 0 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 22px; /*36px*/
    line-height: 1.2;
    letter-spacing: 5px;
    color: $textColor;
    position: relative;
    .title h2{
        margin: 0;
    }
    &::before{
        content: "";
        position: absolute;
        left: 50%;
        bottom: -30px;
        transform: translate(-50%, 50%);
        background: $primaryColor;
        width: 55px;
        height: 1px;
    }
}


